{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <!-- META -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--::::: FABICON ICON :::::::-->
    <link rel="icon" href="{% static 'assets/img/icon/fabicon.png' %}" />
    <!--::::: ALL CSS FILES :::::::-->
    <link
      rel="stylesheet"
      href="{% static 'assets/css/plugins/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/plugins/animate.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/plugins/fontawesome.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/plugins/modal-video.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/plugins/owl.carousel.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/plugins/slick.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/plugins/stellarnav.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/theme.css' %}" />

    {% block style %}{% endblock style %}
    
    <style>
      .shikbosobbai{
        width: 100%;
      }
      .shikbosobbai a{
        width: 100%;
      }
      .shikbosobbai a img{
        height: 70px !important;
      }
      
    </style>
  </head>

  <body class="theme-1">
    <!--::::: PRELOADER START :::::::-->
    <div class="preloader">
      <div>
        <div class="nb-spinner"></div>
      </div>
    </div>
    <!--::::: PRELOADER END :::::::-->

    <!--::::: SEARCH FORM START:::::::-->
    <div class="searching">
      <div class="container">
        <div class="row">
          <div class="col-8 text-center m-auto">
            <div class="v1search_form">
              <form  method="get" action="{% url 'Home:search' %}">
                <input name="q" id="query" type="search" placeholder="Search Here..."/>
                <button type="submit" class="cbtn1">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="close_btn"><i class="fal fa-times"></i></div>
    </div>
    <!--:::::SEARCH FORM END :::::::-->

    <!--::::: TOP BAR START :::::::-->
    <div class="topbar white_bg" id="top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-8 align-self-center">
            <div class="trancarousel_area">
              <p class="trand">Tranding</p>
              <div class="trancarousel owl-carousel nav_style1">
                {% for tranding in Tranding %}
                <div class="trancarousel_item">
                  <p>
                    <a href="{{ tranding.get_absolute_url }}">
                      {{ tranding.title|slice:'0:50' }}..</a>
                  </p>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 align-self-center">
            <div class="top_date_social text-right">
              <div class="paper_date">
                <p></p>
              </div>
              <div class="social1">
                <ul class="inline">
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--::::: TOP BAR END :::::::-->

    <div class="border_black"></div>

    <!--::::: LOGO AREA START  :::::::-->
    <div class="logo_area white_bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 align-self-center">
            <div class="logo">
              <a href="/">
                <img
                  src="{% static 'assets/img/logo/logo.png' %}"
                  alt="image"
                />
              </a>
            </div>
          </div>
          <div class="col-lg-8 align-self-center">
            
            <div class="banner1">
              <a href="#">
                <img src="" alt="" />
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--::::: LOGO AREA END :::::::-->

    <!--::::: MENU AREA START  :::::::-->
    <div class="main-menu" id="header">
      <a href="#top" class="up_btn up_btn1"
        ><i class="far fa-chevron-double-up"></i
      ></a>
      <div class="main-nav clearfix is-ts-sticky">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-6 col-lg-8">
              <div class="newsprk_nav stellarnav">
                <ul id="newsprk_menu">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="#">Pages <i class="fal fa-angle-down"></i></a>
                    <ul>
                      <li><a href="{% url 'About:about' %}">About</a></li>
                      <li><a href="{% url 'Blog:Blog' %}">Blog</a></li>
                      <li><a href="{% url 'Contact:contact' %}">Contact Us</a></li>
                    </ul>
                  </li>

                  <li>
                    <a href="#">Categories <i class="fal fa-angle-down"></i></a>

                    <ul>
                      <li class="active">
                        <a href="{% url 'Blog:Blog' %}">All Post</a>
                      </li>
                      {% for cat in category %}
                          <li><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  <li><a href="{% url 'Book:book' %}">Book</a></li>
                  <li><a href="{% url 'Jobpost:job' %}">Jobs</a></li>
                  <li><a href="{% url 'Contact:contact' %}">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-6 col-lg-4 align-self-center">
              <div class="menu_right">
                <div class="users_area">
                  <ul class="inline">
                    <li class="search_btn"><i class="far fa-search"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--::::: MENU AREA END :::::::-->
    
    {% block body %}{% endblock body %}

    <div class="space-70"></div>
    <!--::::: FOOTER AREA START :::::::-->
    <div class="footer footer_area1 primay_bg">
      <div class="container">
        <div class="cta">
          <div class="row">
            <div class="col-md-6 align-self-center">
              <div class="footer_logo logo">
                <a href="/">
                  <img src="{% static 'assets/img/logo/footer_logo.png' %}" alt="logo" />
                </a>
              </div>
              <div class="social2">
                <ul class="inline">
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 offset-lg-2 align-self-center">
              <div class="signup_form">
                <form action="" method="post">
                  <input
                    class="signup"
                    type="email"
                    name="email"
                    placeholder="Your email address"
                  />
                  <input type="button" class="cbtn" value="sign up" />
                </form>
                <p>We hate spam as much as you do</p>
              </div>
            </div>

          </div>
        </div>
        <div class="border_white"></div>
        <div class="space-40"></div>
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-sm-6 col-lg">
                <div class="single_footer_nav border_white_right">
                  <h3 class="widget-title2">Categories</h3>
                  <div class="row">
                    <div class="col-lg-6">
                      <ul>
                        {% for cat in category %}
                        <li><a href="#">{{ cat.name }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg">
                <div class="single_footer_nav">
                  <h3 class="widget-title2">Living</h3>
                  <div class="row">
                    <div class="col-lg-6">
                      <ul>
                        <li><a href="{% url 'Book:book' %}">Book</a></li>
                        <li><a href="{% url 'Jobpost:job' %}">Jobs</a></li>
                        <li><a href="{% url 'Contact:contact' %}">Contact</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-4">
            <div class="extra_newss border_white_left pl-4">
              <h3 class="widget-title2">More news</h3>
              {% for lastest in Tranding %}
              {% if forloop.counter <= 2 %}
              <div class="single_extra_news border_white_bottom">
                <p> {{ lastest.category }} <span> / {{ lastest.date }}</span></p>
                <a href="{{ lastest.get_absolute_url }}">{{ lastest.title|slice:"0:70" }}</a>
                <span class="news_counter">{{ forloop.counter }}</span>
              </div>
              {% endif %}
              {% endfor %}
              <div class="space-40"></div>
              <div class="border_white_bottom"></div>
              <div class="space-40"></div>
            
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <p>&copy; Copyright <span id="copy_write_year"></span>, All Rights Reserved</p>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="copyright_menus text-right">
                <div class="language"></div>
                <div class="copyright_menu inline">
                  <ul>
                    <li><a href="{% url 'About:about' %}">About</a></li>
                    <li><a href="{% url 'Contact:contact' %}">Contact Us</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--::::: FOOTER AREA END :::::::-->
    <!--::::: ALL JS FILES :::::::-->
    <script src="{% static 'assets/js/plugins/jquery.2.1.0.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.nav.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-modal-video.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/owl.carousel.js' %}"></script>
    <script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/circle-progress.js' %}"></script>
    <script src="{% static 'assets/js/plugins/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/stellarnav.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script>
      var date = document.querySelector('.paper_date p');
      // set date like Thursday, March 26, 2020 in date
      date.innerHTML = new Date().toDateString();
      // set full year
      var year = document.querySelector('#copy_write_year');
      year.innerHTML = new Date().getFullYear();
    </script>
    {% block script %}{% endblock script %}
</html>
