<div class="follow_box widget mb30 mt-md-60">

    <h2 class="widget-title">Follow Us</h2>
    <div class="social_shares">
      <a class="single_social social_facebook" href="#">
        <span class="follow_icon"
          ><i class="fab fa-facebook-f"></i
        ></span>
        34,456 <span class="icon_text">Fans</span>
      </a>
      <a class="single_social social_twitter" href="#">
        <span class="follow_icon"><i class="fab fa-twitter"></i></span>
        34,456 <span class="icon_text">Followers</span>
      </a>
      <a class="single_social social_youtube" href="#">
        <span class="follow_icon"><i class="fab fa-youtube"></i></span>
        34,456 <span class="icon_text">Subscribers</span>
      </a>
      <a class="single_social social_instagram" href="#">
        <span class="follow_icon"
          ><i class="fab fa-instagram"></i
        ></span>
        34,456 <span class="icon_text">Followers</span>
      </a>
      <a class="single_social social_vimeo" href="#">
        <span class="follow_icon"><i class="fab fa-vimeo-v"></i></span>
        34,456 <span class="icon_text">Followers</span>
      </a>
      <a class="single_social social_medium" href="#">
        <span class="follow_icon"><i class="fab fa-medium-m"></i></span>
        34,456 <span class="icon_text">Followers</span>
      </a>
    </div>
  </div>